* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 80px 15px;

}

/* Small */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Larg */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

:root {
    --main-color: #11abb0;
    --sec-color: #191919;
    --main-transition-duration: .5s;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
    display: none;
}

.transition {
    transition: var(--main-transition-duration) 0s ease;
    -webkit-transition: var(--main-transition-duration) 0s ease;
    -moz-transition: var(--main-transition-duration) 0s ease;
    -ms-transition: var(--main-transition-duration) 0s ease;
    -o-transition: var(--main-transition-duration) 0s ease;
}