.header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.header ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 1.5%;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    padding: 0;
    letter-spacing: 2px;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #0f0f0f;
}

.header li {
    cursor: pointer;
    padding: 5px;
}

.header a {
    text-decoration: none;
    color: #fff;
}

.header li:hover {
    color: var(--main-color);
}

.home {
    background: url(../images/header-background.avif);
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
}

.home .container {
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.home .container h1 {
    font-size: 90px;
    letter-spacing: -7.2px;
    line-height: 1.1em;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 8px #000;
    margin: 0;
}

@media (max-width: 767px) {
    .home .container h1 {
        font-size: 30px;
        letter-spacing: -2.2px;
    }

    .home .container p:first-of-type {
        width: 100%;
    }

    .home .container {
        width: 100%;
    }
}

.home .container p {
    font: 20px/1.9em "librebaskerville-regular";
    color: #a8a8a8;
    width: 40%;
    text-shadow: 1px 1px 8px #000;
}

.home .container span {
    color: var(--main-color);
}

.home .social-icons {
    display: flex;
    gap: 25px;
}

.home .social-icons i {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.home .social-icons i:hover {
    color: var(--main-color);
}

.home .down {
    top: 93%;
}

.home .down i {
    font-size: 38px;
    color: #fff;
    cursor: pointer;
}

.home .down i:hover {
    font-size: 38px;
    color: var(--main-color);
}

/*-----------------------------------------------------------------End home-----------------------------------------------------------------*/

.about {
    background-color: var(--sec-color);
}

.about .container {
    display: grid;
    grid-template-columns: repeat(2, 30% 70%);

}

.about .container div:nth-child(1) img {
    width: 120px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    left: 30%;
    top: 5%;
}

.about .container .col {
    position: relative;
}

.about .container .col .text {
    padding-bottom: 20px;
}

.about .container .col h3 {
    color: #fff;
    font-weight: 800;
    word-spacing: 1.9px;
}

@media (max-width: 767px) {
    .about .container {
        padding: 80px 0px;
        display: grid;
        grid-template-columns: auto;
    }

    .about .container .photo {
        display: none;
    }
    
    .about .container .col .text {
        width: 75%;
        margin: 0 auto;
    }
}

@media (max-width: 767px) {
    .about .container .col .text {
        width: 100%;
        padding: 0 15px;
    }
}

.about .container .col p {
    color: #7a7a7a;
    word-spacing: 1.9px;
    line-height: 1.9;
    font-size: 15px;
}

@media (min-width: 768px) {
    .about .container .col p {
        width: 80%;
    }
}

.about .container .col div:nth-child(2) p {
    line-height: 1;
    font-size: 15px;
}

.about .container .col a {
    text-decoration: none;
    color: #7a7a7a;
    line-height: 1;
    font-size: 15px;
}

/*-----------------------------------------------------------------End about-----------------------------------------------------------------*/

.resume {
    background-color: #fff;
}

@media (max-width: 767px) {
    .resume .edu {
        text-align: center;
    }
}

.resume .container h2 {
    width: 100%;
    color: #313131;
    font-weight: 800;

}

.resume .container h3 {
    color: #313131;
}

.resume .container p {
    width: 100%;
    font-size: 15px;
    color: #838c95;
    line-height: 1.8;
}

.resume .container .col {
    display: flex;
    gap: 100px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
}

@media (max-width: 767px) {
    .resume .container .col {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}

hr {
    border-top: 1px solid #e8e8e8;
    border-radius: 50%;
    width: 100%;
}

.resume .container span {
    font-size: 23px;
    width: 132.7px;
    color: #313131;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 35px;
    position: relative;
}

@media (max-width: 767px) {
    .resume .container span {
        text-align: center;
        padding: 0;
    }
}

.resume .container span::after {
    content: '';
    position: absolute;
    top: 60px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: var(--main-color);
}

@media (max-width: 767px) {
    .resume .container span::after {
        top: 25px;
    }
}

.resume .container .col:last-of-type span::after {
    width: 55%;
}

@media (max-width: 767px) {
    .resume .container .col:last-of-type span::after  {
        left: 50%;
        transform: translate(-50%);
    }
}

.resume .container .col .skl {
    flex: 1;
}

@media (max-width: 767px) {
    .resume .container .col .skl {
        width: 100%;
    }
}

.resume .container .col .skl div {
    width: 100%;
    height: 45px;
    background-color: #d4d8e9;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.resume .container .col .skl .fill {
    border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -ms-border-radius: 3px 0 0 3px;
    -o-border-radius: 3px 0 0 3px;
    position: relative;
}

.resume .container .col .skl .fill::after {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.resume .container .col .skl .f .fill {
    width: 95%;
    height: 45px;
    background-color: #313131;
}

.resume .container .col .skl .f .fill::after {
    content: '95%';
}

.resume .container .col .skl .g .fill {
    width: 70%;
    height: 45px;
    background-color: #313131;
}

.resume .container .col .skl .g .fill::after {
    content: '70%';
}

.resume .container .col .skl .h .fill {
    width: 90%;
    height: 45px;
    background-color: #313131;
}

.resume .container .col .skl .h .fill::after {
    content: '90%';
}

.resume .container .col .skl .c .fill {
    width: 85%;
    height: 45px;
    background-color: #313131;
}

.resume .container .col .skl .c .fill::after {
    content: '85%';
}

.resume .container .col .skl .cs .fill {
    width: 70%;
    height: 45px;
    background-color: #313131;
}

.resume .container .col .skl .cs .fill::after {
    content: '70%';
}

.resume .container .col .skl .j .fill {
    width: 65%;
    height: 45px;
    background-color: #313131;
}

.resume .container .col .skl .j .fill::after {
    content: '65%';
}
.resume .container .col .skl .tt .fill {
    width: 85%;
    height: 45px;
    background-color: #313131;
}

.resume .container .col .skl .tt .fill::after {
    content: '65 WPM';
}

@media (max-width: 767px) {
    .resume .container .col {
        padding: 0;
    }

    
    .resume .container h2 {
        width: 100%;
        text-align: center;
        font-size: 20px;
        color: #313131;
        font-weight: 800;
    }
    
    .resume .container h3 {
        color: #313131;
        width: fit-content;
    }
    
    .resume .container p {
        width: 100%;
        font-size: 15px;
        color: #838c95;
        line-height: 1.8;
    }

    .resume .container .col .skl div {
        width: 100%;
    }
}

/*-----------------------------------------------------------------End resume-----------------------------------------------------------------*/

.works {
    padding: 50px 15px;
    background-color: #ebeeee;
    display: flex;
    flex-direction: column;
}

.works p {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #95a3a3;
}

.works .container {
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}

@media (max-width: 767px) {
    .works .container {
        flex-direction: column;
    }
}

.works .container .col .temp img {
    width: 300px;
    cursor: pointer;
}

.works .container a {
    color: transparent;
    height: 100%;
}

.works .container a:hover {

    z-index: 5;
}

.temp {
    position: relative;
    overflow: hidden;
    height: fit-content;
}

.overlay {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.774);
    width: 100%;
    height: 98%;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.temp:hover .overlay {
    top: 0;
}

.overlay p {
    text-align: left;
    font-weight: 100;
    font-size: 15px;
}

/*-----------------------------------------------------------------End works-----------------------------------------------------------------*/

.contact {
    background-color: var(--sec-color);
}

.contact .first {
    display: flex;
    flex-direction: row;
    gap: 56px;
    padding-bottom: 60px;
}

.contact .first span {
    display: none;
}

.contact .first:nth-child(1) {
    color: #7a7877;
    font-size: 15px;
    font-weight: 100;
}

.contact .row .cont{
    display: flex;
}

.contact .row .cont div:first-of-type {
    display: flex;
    padding-top: 18px;
    gap: 78px;
    flex-direction: column;
}

.contact label {
    color: #fff;
    margin-right: 50px;
}

.contact .mobile {
    display: none;
}

.contact label[for="name"]::after,
.contact label[for="email"]::after,
.contact label[for="message"]::after {
    content: "*";
    color: var(--main-color);
    margin-left: 3px;
}

.contact input, textarea {
    background-color: #373233;
    outline: none;
    border: none;
    padding: 18px 20px;
    width: 65%;
    margin-bottom: 42px;
    color: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    resize: none;
}

.contact input::placeholder, textarea::placeholder {
    font-weight: 100;
    font-size: 15px;
}

.contact input[type=submit] {
    width: 100px;
    color: #fff;
    font-weight: 800;
    margin-top: 50px;
    padding: 25px 30px;
    width: fit-content;
    background-color: #0f0f0f;
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.contact input[type=subimt]:hover {
    background-color: #fff;
    color: #0f0f0f;
}

.contact .container i {
    color: #fff;
    font-size: 72px;
}

.contact .aside h3 {
    color: #fff;
} 

.contact .aside a {
    text-decoration: none;
    color: #7a7a7a;
    font-size: 15px;
} 

.contact .aside p {
    color: #7a7a7a;
    font-size: 15px;

} 

@media (max-width: 767px) {
    .contact .first span {
        display: block;
        color: #fff;
        font-weight: 700;
    }

    .contact .container i {
        display: none;
    }

    .contact .first {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        padding-bottom: 60px;
    }

    .contact .row .cont{
        display: flex;
        flex-direction: column;
    }

    .contact .container {
        padding: 80px 15px;
    }

    .contact label {
        display: none;
    }

    .contact .mobile {
        display: flex;
        margin-bottom: 12px;
    }

    .contact input, textarea {
        width: 100%;
        margin-bottom: 12px;
    }
}
/*-----------------------------------------------------------------End contact-----------------------------------------------------------------*/

.footer {
    background-color: #0f0f0f;
    position: relative;
}

.footer .container .up{
    text-decoration: none;
    color: #525252;
    font-size: 54px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.footer .container .up:hover{
    color: var(--main-color);
}

.footer .container .social {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer .social i {
    color: #525252;
    font-size: 28px;
    cursor: pointer;
}

.footer .social i:hover {
    color: #fff;
    font-size: 28px;
}