@media (max-width: 991px) {
  .about .row:first-of-type {
    flex-direction: column-reverse;
    gap: 20px;
  }
}

@media (min-width: 992px) {
  .about .text {
    padding-right: 55px;
  }

  .about .image {
    padding-left: 55px;
  }
}

.about h3 {
  font-size: 35px;
  font-weight: 400;
}

.about h3 span {
  color: var(--main-color);
}

.about p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.7;
  color: var(--second-font-color);
}

.about .skill:last-of-type {
  flex: 1;
}

.about .prog {
  background: var(--dark-gray-III);
}

.about .bar {
  background: var(--main-color);
  height: 25px;
  text-align: center;
  font-size: 12px;
  line-height: 25px;
}

.soft-skills svg {
  font-size: 40px;
  color: var(--main-color);
  cursor: pointer;
  margin-bottom: 25px;
  transition: color .3s ease;
  -webkit-transition: color .3s ease;
  -moz-transition: color .3s ease;
  -ms-transition: color .3s ease;
  -o-transition: color .3s ease;
}