.card {
  background: var(--dark-gray-III) !important;
  height: 400px !important;
  overflow: hidden;
}

.card-image {
  height: 40%;
}

.card-image img {
  display: block;
  background: var(--main-color);
  width: 90px;
  margin: auto;
  box-shadow: 0 0 0 var(--main-color);
  transition: all 600ms;
}

.card:hover .card-image img {
  box-shadow: 0 0 0 450px var(--main-color);
}

.card h3 {
  font-size: 25px;
  font-weight: 500;
  color: var(--main-font-color);
}

.card p {
  line-height: 1.7;
  transition: all 600ms;
  -webkit-transition: all 600ms;
  -moz-transition: all 600ms;
  -ms-transition: all 600ms;
  -o-transition: all 600ms;
}

.card:hover p {
  color: var(--main-font-color);
}