body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    padding: 0 auto;
    letter-spacing: 1px;
}

::-webkit-scrollbar {
    display: none;
}

                                                                /* Start header */

header {
    background: url(166295990d9b8675e0748428cc3b-1634394.jpg);
    background-size: cover;
    height: 100vh;
} 

/* nav {

} */

nav ul, .social {
    margin: 0;
    padding-top: 16px;
    list-style-type: none;
    text-align: center;
}

nav  ul li {
    margin-right: 50px;
    display: inline-block;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* @media screen {
    
} */

.mov-name {
    font-size: 550%;
    font-weight: bold;
    font-family: 'Alatsi', sans-serif;
    letter-spacing: -1px;
    text-align: center;
    padding-top: 7%;
    color: #fff;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation:
    typing 4.5s steps(4000, end),
    blink-caret .75s;
}
  
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.mov-name-part1, .mov-name-part2 {
    display: none;
}

.info p {
    font: 18px/1.9em 'librebaskerville-regular';
    text-align: center;
    color: #fff;
    width: 45%;
    margin: 0 auto;
    font-family: monospace;
    font-weight: bolder;
}

.wk {

    color: rgb(236, 150, 51);


}

.firs-view .fas {
    display: none;
}



.social {
    padding-top: 50px;
}

.social li {
    display: inline;
    margin-right: 30px;
    font-size: 30px;
    
}

.sm a {
    text-decoration: none;
}

i {
    color: #fff;
    
}

.social .fab {
    transition: .5s ease;
}

.social .fab:hover {
    color: rgb(236, 150, 51);
}

                                                                /* End header */

.hide {
    width: 100%;
    height: 30vh;
}

                                                                /* Start section one */

.center {
    text-align: center;
}

.image {
    display: inline;
    /* margin-top: 100px; */
    /* margin-left: 200px; */
}


img {
    width: 125px;
    height: 100%;
    border-radius: 100%;
    margin-left: 15%;


}


.container {
    display: inline-block;
    padding-left: 100px;
    padding-top: 100px;
    width: 60%;
    font-family: 'Rubik', sans-serif;

}

.container h2 {
    color: #fff;
    text-align: left;
}

.container p {
    display:inline;
    max-width: 70%;
    color: #7a7a7a;
    text-align: left;
    
}

.container ul {
    list-style-type: none;
    display: inline;
    color: #7a7a7a;
    padding-left: 0;
    text-align: left;
    
}

.download {
    width: 100px;
    height: 100%;
    padding: 20px;
    background: #444;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: large;
    border-radius: 5px;
    transition: .3s ease;
    margin-left: 60%;
}

.download:hover {
background-color: #fff;
color: #000;

}



.resume {
    padding-bottom: 6%;
    background: #161415;
}

.skill {
    padding-bottom: 140px;
}

.skill h3 {
    font-weight: normal;
    border-bottom: 3px solid #11abb0;
    width: 8%;
    margin-left: 200px;
    display: inline;
}

.skill .sk {
    width: 4%;
    margin-left: 200px;
}

.skill h1 {
    display: inline;
    margin-left: 150px;
}

.spic {
    padding-left: 70px;
}

.p-container {
    margin-top: 80px;
}

.p-container p {
    margin-left: 475px;
    font-family: cursive;
    color: #6e7881;
}

.p-container .tow-p {
    margin-bottom: 40px;
    font-family: librebaskerville-italic;
    font-weight: bold;
}

.p-container .one-p {
    max-width: 40%;
    font-family: librebaskerville-italic;
    font-weight: bold;
}

.skill ul {
    list-style-type: none;
    padding-left: 400px;
}

.one, .two, .three, .four, .five, .six {
    width: 600px;
    height: 45px;
    
    background: rgb(212, 216, 233);
    margin-bottom: 20px;
    border-radius: 3px;
    color: #000;
    font-weight: bold;
    
}

/* Skills rateing */

.s-one, .s-two, .s-three, .s-four, .s-five, .s-six {
    width: 560px;
    height: 40px;
    padding-top: 5px;
    background: #313131;
    margin-bottom: 20px;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;

}


.s-two {
    width: 500px;
}

.s-three {
    width: 150px;
}

.s-four {
    width: 100px;
}

.s-five {
    width: 595px;
}

.s-six {
    width: 180px;
}

.li-lan {
    font-family: "opensans-bold", sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    padding-bottom: 7px;
}

.work {
    width: 100%;
    height: 300px;
    background: #ebeeee;
    float: left;
}

.work h3 {
    text-align: center;
    margin-top: 140px;
}

.contact ul {
    list-style-type: none;
}

.contact {
    width: 100%;
    height: 1300px;
    background: #191919;
    float: left;
    text-align: left;
    
}

.h {
    color: #636363;
    margin-left: 370px;
    margin-top: 100px;
}

.contact .fas {
    font-size: 70px;
    color: #fff;
    margin-top: -100px;
    margin-left: 200px;
}

.in-text {
    width: 400px;
    height: 60px;
    background: #373233;
    outline: none;
    border: none;
    color: #eee;
}

.mes ul li {
    margin-top: 50px;
    margin-left: 70px;
}

.s {
    color: #11abb0;
    margin-right: 110px;
}

.mes {
    margin-left: 150px;

}

.l-t {
    color: #fff;
    margin-left: -60px;
    float: left;
}

.suu {
    margin-right: 110px;
}

textarea {
    width: 400px;
    height: 400px;
    margin-left: -25px;
    background: #373233;
    outline: none;
    border: none;
    color: #eee;
}

.sub {
    float: left;
    height: 33px;
    width: 120px;
    background: #0d0d0d;
    color: #fff;
    outline: none;
    border: none;
    letter-spacing: 5px;
    font-weight: 800;
    margin-left: 108px;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s;
    text-decoration: none;
    padding-top: 18px;
    padding-bottom: 10px;
    text-align: center;
}

.sub:hover {
    background-color: #fff;
    color: #000;
}

.last-info {
    float: right;
    margin-right: 310px;
    margin-top: 60px;
    line-height: 24px;
    color: #666;
}

.space {
    margin-bottom: 30px;
}

.last-info .title {
    font-size: 16px;
    color: #eee;
}

.last-info li {
    font-size: 14px;
    font-family: "opensans-regular", sans-serif;
}

.last-info-2 {
    display: none;
}


