.navbar {
  z-index: 10;
}

nav.about,
nav.portfolio,
nav.contact {
  background: var(--black-II);

}

.logo {
  width: 40px;
}

a.nav-link:hover,
a.active {
  color: var(--main-color) !important;
}

@media (max-width: 991px) {
  a.nav-link {
    padding-left: 0 !important;
  }
}

.navbar-toggler svg {
  color: var(--white);
  font-size: 30px;
}