.portfolio .work {
  background: var(--black);
  min-height: 505px;
}

.portfolio .work {
  flex-direction: column;
}
/* @media (max-width: 768px) {
} */

.portfolio .work .icon {
  min-width: 250px;
  height: 250px;
  background-color: var(--main-color);
  font-size: 80px;
  color: var(--main-font-color);
  line-height: 250px;
}

.portfolio .text {
  flex: 1;
}

@media (max-width: 768px) {
  .portfolio .text {
    text-align: center;
  }
}

.portfolio .text h3 {
  color: var(--main-color);
  font-size: 35px;
}

.portfolio .text p {
  color: var(--second-font-color);
}

.portfolio .links {
  flex: 1;
  gap: 10px;
}

@media (max-width: 768px) {
  .portfolio .text h3 {
    font-size: 20px;
  }

  .portfolio .links {
    justify-content: center !important;
  }
}

.portfolio .links a {
  position: relative;
  overflow: hidden;
  padding: 0 20px;
  border: 1px solid var(--main-color);
  height: 47px;
  line-height: 47px;
  color: var(--main-color);
  width: 106px;
  text-align: center;
  transition: 700ms ease;
  -webkit-transition: 700ms ease;
  -moz-transition: 700ms ease;
  -ms-transition: 700ms ease;
  -o-transition: 700ms ease;
}

.portfolio .links a span {
  position: relative;
  z-index: 1;
}

.portfolio .links a::after {
  content: '';
  position: absolute;
  top: -4px;
  left: -230%;
  background-color: var(--main-color);
  transform: skew(49deg, 1deg);
  height: 120%;
  width: 200%;
  z-index: 0;
  transition: 700ms ease;
  -webkit-transition: 700ms ease;
  -moz-transition: 700ms ease;
  -ms-transition: 700ms ease;
  -o-transition: 700ms ease;
}

.portfolio .links a:hover::after {
  left: -26%;
}

.portfolio .links a:hover {
  color: var(--main-font-color);
}

.portfolio .links a svg {
  margin-bottom: 3px;
}